In [2]:
import pandas as pd
from time import time
pd.__version__

In [28]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize= 100000)

In [12]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [15]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [24]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [29]:
while True:
    try:
        t_start = time()
        df = next(df_iter)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print(f'inserted another chunk..., took {t_end - t_start:.3f} seconds')
    except StopIteration:
        print("All chunks have been processed and inserted.")
        break

inserted another chunk..., took 7.682 seconds
inserted another chunk..., took 7.459 seconds
inserted another chunk..., took 8.006 seconds
inserted another chunk..., took 7.897 seconds
inserted another chunk..., took 7.606 seconds
inserted another chunk..., took 8.246 seconds
inserted another chunk..., took 8.291 seconds
inserted another chunk..., took 7.980 seconds
inserted another chunk..., took 7.810 seconds
inserted another chunk..., took 8.052 seconds
inserted another chunk..., took 7.966 seconds
inserted another chunk..., took 8.049 seconds

/var/folders/1v/qr8xwzq52nn435k6s4j2ln3c0000gn/T/ipykernel_34662/3821050855.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 8.821 seconds
inserted another chunk..., took 6.557 seconds
All chunks have been processed and inserted.

In [30]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [31]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [34]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265